<h1>Editing Category</h1>

<ul class="list-group">
    <%= render 'form', category: @category %>
  <li class="list-group-item">
        <%= link_to 'Back', categories_path, class: 'btn btn-info' %>
        <%= link_to 'Show', @category, class: 'btn btn-default' %>
  </li>
</ul>